@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.line-plot {
    position: relative;
}

.line-plot.canvas {
    position: absolute;
    pointer-events: all;
    z-index: 1;
}

.line-plot.svg {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0,0,0);
}

.line-plot.rect {
    fill: #ffffff;
    z-index: 100;
}

.line-plot .plot {
    fill: #ffffff;
}

.line-plot .grid .tick {
    stroke: #BEC9CE;
    opacity: 0.6;
}

.line-plot .grid path {
    stroke-width: 0;
}

.line-plot .axis path, .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.line-plot .axis path {
    display: none;
}

.line-plot .line {
    cursor: pointer;
    fill: none;
}

.line-plot text {
    fill: #A7A9AC;
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
}

.line-plot .label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
